/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --decorations-color: #FF0070;
  --color-hover-effect-menu-theme: #FF007066;
  --title-color: #DB00FF;
  --title-section-color: #FF0070;
  --title-card-color: #000028;
  --paragraph-color: #F1B2CE;
  --accent-color: #FF0070;
}

:root.theme-dark .header__decorated-record {
  display: flex;
  color: var(--decorations-color);
}