/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --decorations-color: #353430;
  --color-hover-effect-menu-theme: #32312d66;
  --title-color: #ffc2e6;
  --title-section-color: #353430;
  --title-card-color: #353430;
  --paragraph-color: #353430;
  --accent-color: #ff8dcb;
}

:root.theme-light .header__decorated-record {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --decorations-color: #353430;
    --color-hover-effect-menu-theme: #32312d66;
    --title-color: #ffc2e6;
    --title-section-color: #353430;
    --title-card-color: #353430;
    --paragraph-color: #353430;
    --accent-color: #ff8dcb;
  }

  .header__decorated-record {
    display: none;
  }
}
