.page {
  padding-inline: 10px 7px;
  font-family: 'IBM Plex mono', sans-serif;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  margin-block-end: 40px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before, .decorated-zone::after {
  content: "";
  position: absolute;
  border: var(--decorations-color) 1px solid;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 0;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 0;
  border-top: none;
  border-right: none;
}

.header__decorated-record {
  position: absolute;
  top: 10px;
  right: 11px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--decorations-color);
  font-size: 18px;
  inline-size: 52px;
  block-size: 26px;
}

.header__theme-menu-list {
  display: grid;
  justify-content: end;
  gap: 11px;
  margin-block-start: 74px;
  font-size: 18px;
}

.header__theme-menu-button {
  border: none;
  color: var(--decorations-color);
  text-transform: lowercase;
  background-color: transparent;
  block-size: 25px;
  inline-size: 70px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0px 1px 0px var(--decorations-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-hover-effect-menu-theme);
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decorations-color);
  pointer-events: none;
}

.header__decorated-record::after {
  content: "";
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
}

.title {
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  margin-block-start: -12px;
}

.section {
  display: grid;
  gap: 20px;
  margin-block-end: 50px;
  padding-inline-end: 2px;
}

.section .section__card-list {
  display: grid;
  gap: 20px ;
}

.section .card {
  display: grid;
  align-content: start;
  gap: 10px;
}

.section__title {
  color: var(--title-section-color);
  font-size: 18px;
  line-height: 23.4px;
}

.section__paragraph {
  color: var(--paragraph-color);
  font-size: 18px;
  line-height: 23.4px;
}

.section__paragraph .link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section .link:hover {
  border-block-end: 1px solid var(--paragraph-color);
  cursor: pointer;
}

.section .link:focus {
  outline: none;
}

.section .link:focus-visible {
  outline: 1px solid var(--paragraph-color);
}

.title-decor {
  color: var(--title-card-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  block-size: min-content;
}

.title-decor_tips {
  font-weight: 400;
}

.section-gallery {
  gap: 8px;
  margin-block-end: 36px;
}

.gallery {
  display: grid;
  gap: 5px;
}

.section__gallery-images {
  width: 100%;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-block-size: 668px;

}

.image-gallery {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media (width >= 768px) {
  .page {
    padding-inline: 20px;
  }

  .header {
    margin-block-end: 60px;
    min-block-size: 768px;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .header__decorated-record {
    top: 20px;
    right: 8px;
  }

  .header__theme-menu-list {
    margin-block-start: 190px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
    margin-block-start: -5px;
  }

  .header__paragraph {
    justify-self: end;
    margin-block-start: -24px;
    max-inline-size: 364px;
  }

  .section {
    margin-block-end: 80px;
  }

  .structure-section-reason, .structure-section-tips {
    grid-template-columns: min-content 1fr;
  }

  .structure-section-reason {
    margin-block-end: 60px;
  }

  .section__title {
    grid-row: span 2;
    inline-size: 236px;
  }

  .section-gallery .title-decor {
    inline-size: 100%;
  }

  .gallery {
    gap: 10px;
  }

  .section-gallery {
    margin-block-end: 60px;
    gap: 20px;
  }

  .section__gallery__image-sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .section__gallery__image-ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .section__gallery__image-tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .section__gallery__image-books {
    grid-column: 2;
    grid-row: 2;
  }

  .section__gallery__image-street {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-block-start: 18px;
  }

  .header__title {
    margin-block-start: 142px;
  }

  .header__paragraph {
    max-inline-size: 491px;
  }
  
  .structure-section-decreased-concentration .section__title {
    max-block-size: 47px;
    max-inline-size: 315px;
  }

  .structure-section-decreased-concentration .section__card-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__title {
    inline-size: 315px;
  }

  .gallery {
    gap: 15px;
    margin-block-start: 0;
  }

  .section-gallery {
    margin-block-end: 54px;
  }
}