/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--page_bg-image);
  background-position: center;
  background-attachment: fixed;
  background-color: #000028;
  font-family: 'IBM Plex mono', sans-serif;
  padding: 10px;
  font-size: 18px;
}

.header {
  position: relative;
  display: grid;
  block-size: 100vh;
  max-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  block-size: 25px;
  inline-size: 25px;
  border: #FF0070 1px solid;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  block-size: 25px;
  inline-size: 25px;
  border: #FF0070 1px solid;
  border-top: none;
  border-right: none;
}

.header__decorated-record {
  gap: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  inline-size: 52px;
  block-size: 26px;
  right: 9px;
}

.header__decorated-record:first-child::after {
  content: "";
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: #FF0070;
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: #DB00FF;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: bold;
}

.section {
  margin-block-end: 50px;
}

.section__title {
  color: #FF0070;
  margin-bottom: 20px;
  line-height: 23.4px;
}

.section_paragraph {
  color: #F1B2CE;
  margin-block-start: 10px;
  margin-block-end: 20px;
}

.title-decor {
  background-color: #FF0070;
  color: #000028;
  font-weight: bold;
  block-size: min-content;
  line-height: 23.4px;
}