:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --decorations-color: #FF0070;
  --color-hover-effect-menu-theme: #FF007066;
  --title-color: #DB00FF;
  --title-section-color: #FF0070;
  --title-card-color: #000028;
  --paragraph-color: #F1B2CE;
  --accent-color: #FF0070;
}